<nav id="main-nav">
  <span id="logo">Kind veilig thuis</span>
  <ul>
    {{#link-to "risico"}}
    <li>Risico Indicatie</li>
    {{/link-to}}

    {{#link-to "over"}}
    <li>Over</li>
    {{/link-to}}

    {{#link-to "contact"}}
    <li>Contact</li>
    {{/link-to}}
  </ul>
</nav>
