<div>
  <h1>Kind</h1>
  <h1>Ouders</h1>
  <h1>Vader</h1>
  <h1>Moeder</h1>
  <h1>Overig</h1>
</div>
<div>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<button id="next" type="button" name="button">&#62;</button>
<button id="back" type="button" name="button">&#60;</button>
