<div id="risk" class="grid-wrapper">
  <aside>
    <section>
      <h1>NR</h1>
      <div id="color-indicator"></div>
    </section>
    <section>
      <ol>
        <li>... Laag risico</li>
        <li>... Middelmatig risico</li>
        <li>... Hoog risico</li>
      </ol>
    </section>
  </aside>
  <main id="risk-forms">

  </main>
</div>
