#risk {
  width: 100vw;
  height: calc(100vh - 3rem);
  padding: 2rem 0;
  display: grid;
  background-color: red;
  grid-template-columns: 13rem repeat(4, 1fr) 13rem;
  grid-template-rows: 8rem auto;
  grid-row-gap: 2rem;
}

#risk > aside {
  background-color: #e6e6e6;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

#risk > aside > section:first-child {
  background-color: #222d32;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: #FFF;
}

#risk > aside > section:first-child h1 {
  font-size: 4rem;
  align-self: center;
  width: 100%;
}

#risk > aside > section:last-child {
  grid-row: 2/6;
  padding: 1rem;
}

#risk > aside > section:last-child ol {
}

#risk > aside > section:last-child ol li {
  list-style-type: none;
  font-weight: 600;
  font-size: .9rem;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: .2rem;
  border-bottom: solid 1px lightgrey;
  color: rgba(0,0,0,.7);
}

#risk > aside > section:last-child ol li::before {
  content:'';
  display: block;
  height: 1.25rem;
  width: 10%;
  margin-right: .75rem;
}

#risk > aside > section:last-child ol li:nth-of-type(1)::before {
  background-color: yellow;
}
#risk > aside > section:last-child ol li:nth-of-type(2)::before {
  background-color: orange;
}
#risk > aside > section:last-child ol li:nth-of-type(3)::before {
  background-color: red;
}


#color-indicator {
  height: 20%;
  background-color: yellow;
}

#risk-forms {
  background-color: lightgrey;
  grid-row: 1 / 3;
  grid-column: 3 / 6;
  padding: 1rem;
}

#risk-forms .form {
  text-align: center;
}

#risk-forms .form h1 {
  margin-bottom: .5rem;
}

#risk-forms .form > div:first-of-type {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#risk-forms .form > div:first-of-type span {
  width: 4rem;
  height: .5rem;
  margin-left: .25rem;
  background-color: rgba(0,0,0,.2);
}

#risk-forms .form > div:first-of-type span:first-of-type {
  margin-left: 0;
  background-color: #3c8dbc;
}
