#risk-clear {
  padding: 1rem;
  grid-row: 10 / 11;
}

#risk-clear button {
  width: 100%;
  height: 100%;
  background-color: #222d32;
  font-size: 1.2rem;
  color: rgba(255,255,255,.8);
  border: none;
  transition: background-color .15s ease-in-out;
  box-shadow: var(--shadow);
}

#risk-clear button:hover {
  background-color: #bc443c;
  cursor: pointer;
  color: rgba(255,255,255,1);
}
